* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F9F9;
  color: #E2E2E2;
  font-family: 'Varela Round', sans-serif;
}

footer {
  background-color: #c31306;
  text-align: center;
  padding: 2%;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav {
  width: 100%;
  background-color: #eff320;
  color: #c31306;
  min-height: 80px;
  position: fixed;
  z-index: 5;
}

.nav ul {
  list-style-type: none;
  width: 95%;
  height: 100%;
  margin: auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.nav li {
  height: 100%;
  line-height: 80px;
  padding: 0 20px;
}

.nav li:hover {
  background-color: #F6F885;
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown li {
  width: 100%;
  text-align: center;
  display: none;
  background-color: #eff320;
}

.dropdown .dropdownHead {
  display: block;
}

.dropdown:hover  li {
  display: block;
}

.brand {
  font-family: 'Prosto One', cursive;
  font-size: 30px;
}

.head {
  padding-top: 80px;
  min-height: 100vh;
  background-color: #783089;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.head h1 {
  margin: 10px auto;
  padding: 30px;
  padding-top: 10px;
  border-bottom: 3px solid;
  border-radius: 40%;
  text-align: center;
}

.img{
  display: none;
  margin: 20px auto;
}

.img:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://s3-us-west-2.amazonaws.com/filmdispenser/assets/images/my+wallet+hates+me/MWHM_46/MWHM46_starburstellybeans.jpg);
  background-position: left bottom;
  border-radius: 20%;
}

.news {
  width: 90%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.blog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #B8336A;
  width: 100%;
  height: 400px;
  padding: 15px;
  margin: 20px;
  background-size: fill;
  background-position: top center;
  text-shadow: 1px 1px 5px #111,
  -1px -1px 5px #333;
  overflow: hidden;
}

.blog:after, .blog img {
  position: absolute;
  width: 110%;
  height: 110%;
  margin: 0;
  top: 0;
  left: 0;
}

.blog:after {
  content: '';
  background-color: #c31306;
  z-index: -2;
}

.blog * {
  margin: 10px auto;
}

.blog img {
  object-fit: cover;
  opacity: 0.6;
  z-index: -1;
}

.btn {
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 2px solid;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 1px 1px 5px #333,
  inset 1px 1px 5px #333;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .dropdown {
    flex-direction: row;
  }

  .dropdown:hover .dropdownHead {
    display: none;
  }

  .dropdown li {
    display: block;
  }

  .dropdown .dropdownHead {
    display: none;
  }

  .blog {
    width: 30%;
    flex-grow: 1;
  }

  .img {
    display: inline-block;
    position: relative;
    width: 80%;
    max-width: 1000px;
    height: 0;
    padding-bottom: 44%;
  }
}
